{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<f:if condition="{noIdent}==1">
    <f:then>
        {f:translate(id: 'nodefinition', package: 'NeosRulez.Blog', source: 'Main')}
    </f:then>
    <f:else>
        Kategorien:<br/>
        <f:for each="{categories}" as="category">
            {category}<br />
        </f:for>
        <div id="blogitems" class="card-columns">
            <f:for each="{items}" as="item" iteration="objIterator">
                <div class="card">
                    <a href="/{pathsegment}/{item.properties.uriPathSegment}.html" class="card-item-action">
                    <f:if condition="{item.properties.blogimage}"><media:image class="card-img-top" image="{item.properties.blogimage}" width="395" height="160" allowCropping="TRUE" alt="{item.label}" /></f:if>
                    <div class="card-body">
                        <f:if condition="{item.properties.blogtitle}">
                            <f:then>
                                <h4><f:format.crop maxCharacters="160">{item.properties.blogtitle}</f:format.crop></h4>
                            </f:then>
                            <f:else>
                                <h4><f:format.crop maxCharacters="160">{item.label}</f:format.crop></h4>
                            </f:else>
                        </f:if>
                        <f:if condition="{item.properties.blogsubtitle}">
                            <p><f:format.crop maxCharacters="160">{item.properties.blogsubtitle}</f:format.crop></p>
                            <f:if condition="{showdate}==1">
                                <small class="text-muted">
                                    <f:format.date format="d.m.Y">{item.properties.blogdate}</f:format.date>
                                </small>
                            </f:if>
                        </f:if>

                        <f:for each="{item.properties.blogcategories}" as="category">
                            {category}<br />
                        </f:for>
                        <br /><br /><br />
                        <f:for each="{blogcats}" as="category2">
                            {category2}<br />
                        </f:for>

                    </div>
                    </a>
                </div>
            </f:for>
        </div>
        <f:if condition="{pagebrowser}">
            <nav class="pagebrowser" aria-label="pagebrowser">
                <ul class="pagination">
                <f:if condition="{pagination}">
                    <f:if condition="{pagination.prev}">
                        <li class="page-item">
                        <f:link.action action="indexPosts" arguments="{page: pagination.prev}" class="page-link">
                            <i class="fa fa-angle-left"></i>
                        </f:link.action>
                        </li>
                    </f:if>

                    <f:for each="{pagination.pages}" as="item">
                        <li class="page-item">
                        <f:link.action action="indexPosts" arguments="{page: item.text}"
                                       class="page-link{f:if(condition: '{0:pagination.current} == {0:item.text}',
then: ' active', else: '')}">
                            {item.text}</f:link.action>
                        </li>
                    </f:for>
                    <f:if condition="{pagination.next}">
                        <li class="page-item">
                        <f:link.action action="indexPosts" arguments="{page:pagination.next}" class="page-link next">
                            <i class="fa fa-angle-right"></i>
                        </f:link.action>
                        </li>
                    </f:if>
                </f:if>
                </ul>
            </nav>
        </f:if>
    </f:else>
</f:if>