{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div{attributes -> f:format.raw()}>
    <f:render section="Content" arguments="{_all}" />
</div>
<f:section name="Content">
    <f:if condition="{blogposts}">
        <f:then>
            <div class="row">
                <f:for each="{blogpostsoutput}" as="blogpost">
                    <f:if condition="{showaslist}">
                        <f:then>
                            <div class="col-12">
                                <f:render section="blogListItem" arguments="{_all}" />
                            </div>
                        </f:then>
                        <f:else>
                            <f:render section="blogThumbItem" arguments="{_all}" />
                        </f:else>
                    </f:if>
                </f:for>
            </div>
            <f:if condition="{pagebrowser}">
                <f:render section="pagination" arguments="{_all}" />
            </f:if>
        </f:then>
        <f:else>
            {f:translate(id: 'nodefinition', package: 'NeosRulez.Blog', source: 'Main')}
        </f:else>
    </f:if>
</f:section>

<f:section name="blogListItem">
    <neos:link.node node="{blogpost}" class="d-block">
        <div class="row align-items-center">
            <div class="col">
                <f:format.date format="d.m.Y">{blogpost.properties.blogdate}</f:format.date>
            </div>
            <div class="col">
                <strong>{blogpost.properties.title}</strong>
            </div>
        </div>
    </neos:link.node>
</f:section>

<f:section name="blogThumbItem">
    <div class="col-md-4 blogitem">
        <neos:link.node node="{blogpost}" class="d-block">
            <f:if condition="{blogpost.properties.blogimages}">
                <media:image class="d-block mb-2 img-fluid" image="{blogpost.properties.blogimages.0}" width="550c" height="230c" allowCropping="TRUE" alt="{blogpost.properties.title}" />
            </f:if>
            <h4>{blogpost.properties.title}</h4>
            <f:if condition="{showAuthor}">
                <small class="d-block mb-2">
                    {f:translate(id: 'from', package: 'NeosRulez.Blog', source: 'NodeTypes/BlogPost')} {blogpost.properties.blogauthor}
                </small>
            </f:if>
            <f:if condition="{blogpost.properties.blogsubtitle}">
                <f:then>
                    <f:format.crop maxCharacters="110">{blogpost.properties.blogsubtitle -> f:format.stripTags()}</f:format.crop>
                </f:then>
                <f:else>
                    <f:format.crop maxCharacters="110">{blogpost.properties.blogcontent -> f:format.stripTags()}</f:format.crop>
                </f:else>
            </f:if>
            <div class="row align-items-end mt-2">
                <div class="col-md-6">
                    <f:format.date format="d.m.Y">{blogpost.properties.blogdate}</f:format.date>
                </div>
                <div class="col-md-6">
                    <f:if condition="{blogcategories}">
                        <f:for each="{blogcategories}" as="blogcategory" iteration="iterator">
                            <span class="d-block">
                                <i class="fas fa-tags"></i> {blogcategory.properties.title}
                            </span>
                        </f:for>
                    </f:if>
                </div>
            </div>
        </neos:link.node>
    </div>
</f:section>

<f:section name="pagination">
    <nav class="pagebrowser mt-5" aria-label="pagebrowser">
        <ul class="pagination">
            <f:if condition="{pagination}">
                <f:if condition="{pagination.pagination.prev}">
                    <li class="page-item">
                        <neos:link.node node="{node}" arguments="{page: pagination.pagination.prev}" class="page-link">
                            <i class="fa fa-angle-left"></i>
                        </neos:link.node>
                        <f:comment>
                            <f:link.action action="indexPosts" arguments="{page: pagination.pagination.prev}" class="page-link">
                                <i class="fa fa-angle-left"></i>
                            </f:link.action>
                        </f:comment>
                    </li>
                </f:if>

                <f:for each="{pagination.pagination.pages}" as="item">
                    <li class="page-item">
                        <neos:link.node node="{node}" arguments="{page: item.text}" class="page-link{f:if(condition: '{0:pagination.pagination.current} == {0:item.text}',
then: ' bg-primary text-white', else: '')}">
                            {item.text}
                        </neos:link.node>
                        <f:comment>
                            <f:link.action action="indexPosts" arguments="{page: item.text}"
                                           class="page-link{f:if(condition: '{0:pagination.pagination.current} == {0:item.text}',
then: ' bg-primary text-white', else: '')}">
                                {item.text}</f:link.action>
                        </f:comment>
                    </li>
                </f:for>
                <f:if condition="{pagination.next}">
                    <li class="page-item">
                        <neos:link.node node="{node}" arguments="{page:pagination.pagination.next}" class="page-link next">
                            <i class="fa fa-angle-right"></i>
                        </neos:link.node>
                        <f:comment>
                            <f:link.action action="indexPosts" arguments="{page:pagination.pagination.next}" class="page-link next">
                                <i class="fa fa-angle-right"></i>
                            </f:link.action>
                        </f:comment>
                    </li>
                </f:if>
            </f:if>
        </ul>
    </nav>
</f:section>
