<f:form action="create" objectName="newCategory" controller="Category">
    <div class="neos-content neos-container-fluid">
        <div class="neos-control-group">
            <label for="name">{f:translate(id: 'category', package: 'NeosRulez.Blog', source: 'Main')}</label>
            <f:form.textfield property="name" id="name" />
        </div>
        <div class="neos-control-group">
            <label for="description">{f:translate(id: 'categorydescription', package: 'NeosRulez.Blog', source: 'Main')}</label>
            <f:form.textfield property="description" id="description" />
        </div>
    </div>
    <div class="neos-footer">
        <f:form.submit class="neos-button neos-button-primary" value="{f:translate(id: 'savecategory', package: 'NeosRulez.Blog', source: 'Main')}" />
    </div>
</f:form>