{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div{attributes -> f:format.raw()}>
<f:if condition="{blogImage}">
    <f:then>
        <media:image image="{blogImage}" class="d-block img-fluid" width="{blogImageWidth}" allowCropping="TRUE" allowUpScaling="TRUE" alt="{f:if(condition: '{blogTitle}', then: '{blogTitle}')}" />
    </f:then>
    <f:else>
        <f:if condition="{node.context.workspace.name} != 'live'">
            {f:translate(id: 'nodefinition', package: 'NeosRulez.Blog', source: 'Main')}
        </f:if>
    </f:else>
</f:if>
</div>